#player-bar {
  position: fixed;
  bottom: 0;
  left: var(--sidebar-width);
  right: 0;
  height: 90px;
  background-color: var(--neo-white);
  border-top: var(--neo-border);
  z-index: 1040;
}

@media (max-width: 991px) {
  #player-bar {
    left: 0;
  }
}
